$backgroundColor: #005f73;
$buttonColor:#005f73;
$inputColor: black;
$logoColor: "red";
$bigLogoColor:#0a9396;

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
    
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
    
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
    
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  background-color: $backgroundColor;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem 4rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .logo {
      color: $logoColor;
      font-weight: 900;
      font-size: 2rem;
    }

    .title {
      color: $logoColor;
      font-weight: normal;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 1rem;
        border: none;
        border-bottom: 1px solid $inputColor;
        &::placeholder {
          color: lightgray;
        }
      }

      button {
        border: none;
        padding: 1rem;
        background-color: $backgroundColor;

        border-radius: 0.4rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
      }
      label:hover {
        color: white;
        background-color: #404040;
        padding: 1rem;
        transform: scale(0.9);
        border-radius: 0.5rem;
        transition: 200ms ease-out;
      }
    }
    p {
      color: #0575e6;
      font-size: 0.85rem;
      margin-top: 0.85rem;
    }
    span {
      font-weight: 900;
    }
  }
}

.homepage {
  background-color: $backgroundColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid black;
    display: flex;
    // gap: 1rem;
    width: 75%;
    // max-width: 65%;
    height: 100%;
    border-radius: 10px;

    @include mobile{
      width: 100%;
    }
    @include tablet(){
      width: 90%;
    }

    .sidebar {
      background-color: #0575e6;
      flex: 1;
      

      @include mobile{
        display: none;
      }
      @include tablet{
        position: relative;
      }

      .navbar {
        background-color: #404040;
        padding: 0.6rem;
        // max-height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        .logo {
          font-weight: bold;
        }

        .user {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          img {
            background-color: #505050;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            color: white;
            background-color: $backgroundColor;
            border: none;
            padding: 0.2rem 0.4rem;
            border-radius: 0.2rem;
            position: absolute;
            bottom: 10px;
            left: 1rem;
          }
        }
      }
      .searchbar {
        border-bottom: 1px solid gray;

        .searchbar-form {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #404040;
            color: white;
            padding: 1rem;

            &::placeholder {
              color: white;
            }
          }
        }

        .userchat {
          display: flex;
          align-items: center;
          padding: 10px;
          gap: 1rem;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: #505050;
            transition: 100ms ease-in-out;
          }
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
    .chats {
      .userchat {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 1rem;
        color: white;
        cursor: pointer;

        .userChatInfo {
          span {
            font-weight: bold;
            font-size: 1.1rem;
          }

          p {
            font-weight: light;
            font-size: 0.9rem;
            color: whitesmoke;
          }
        }

        &:hover {
          background-color: #505050;
          transition: 100ms ease-in-out;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
    .chatfeed {
      flex: 3;
      // background-color: red;
      // overflow: hidden;
      overflow-y: auto;
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: lightgray;
        border-radius: 10px;
      }
      // padding: 1rem;

      .chatInfo {
        background-color: #499999;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;

        span {
          font-size: 1.2rem;
        }

        .chat-icons {
          display: flex;
          gap: 1rem;
          font-size: 1.2rem;
        }
      }

      .messages {
        background-color: greenyellow;
        padding: 1rem;
        min-height: 70%;
        // overflow-y: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              background-color: white;
              color: black;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner{
            flex-direction: row-reverse;
           
          .messageContent{
                  align-items: flex-end;
            p{
              background-color: #0575e6;
              color: white;
            }
          }
          
          }
        }
      }

      .msgInput {
        background-color: white;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        // width: 80%;
        position: sticky;
        bottom: 0 !important;

        color: black;

        input {
          width: 100%;
          font-size: 18px;
          flex: 3;
          outline: none;
          border: none;
          &::placeholder {
            color: #505050;
          }
        }

        .send {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          font-size: 1.5rem;
          color: lightgray;

          .attachFile {
            cursor: pointer;
          }

          label {
            height: 24px;
            margin-bottom: 0;
            cursor: pointer;
          }

          button {
            border: none;
            cursor: pointer;
            background-color: green;
            border-radius: 4px;
            padding: 10px 15px;
            color: white;
          }
        }
      }
    }
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
